<h1>Welcome to Directives</h1>
<h2 highlight>Agenda</h2>
<app-blank highlight="cyan"></app-blank>
<button>Click Me</button>
<button>Hello World</button>

<ul>
  <li highlight="lime" (vanished)="onVanished()">Defining new directives</li>
  <li [highlight]="ugly">Changing the DOM</li>
  <li highlight>Why we should not change the DOM</li>
  <li>Using redenrer</li>
  <li title="abra kadabra">Using Host Bindings</li>
</ul>


<!-- <img [slideShow]="pictures"> -->

<img src="https://images.pexels.com/photos/2893556/pexels-photo-2893556.jpeg?cs=srgb&dl=pexels-nicole-avagliano-2893556.jpg&fm=jpg">
<img src="https://image.shutterstock.com/image-photo/beautiful-sunset-tropical-beach-palm-260nw-1716193708.jpg">


