img {
    width: 150px;
    height: 100px;
    object-fit: conver;
}

li {
    color: magenta;
}

.title {
    display: flex;
    flex-direction: row;

}

.title img {
    height: 20px;
    width: 20px;
    object-fit: contain;
    margin: 0px 4px;
}

button[expander-toggle] {
    background-color: green;
    color: lime;
    border: 1px solid green;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
}

button[expander-toggle]:hover {
    background-color: lime;
    color: green;
}

.fancy {
    --expander-header: pink;
}