<app-expander>
  <div expander-title class="title">
    <img src="https://cdn-icons-png.flaticon.com/512/5619/5619967.png" />
    Hello World
  </div>

  <button expander-toggle>Toggle</button>
  This is what we want:
  <ul>
    <li>Ability to present bullets</li>
    <li>Ability to present <a href="www.google.com">Hyperlinks</a></li>
  </ul>
  <app-blank></app-blank>
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Everest_North_Face_toward_Base_Camp_Tibet_Luca_Galuzzi_2006.jpg"
  />
</app-expander>
