<app-expander headerBackground="pink" class="fancy">
  <h3>
    Testing 123
    <span> + + + </span>
  </h3>

  <div expander-title class="title">
    <img src="https://cdn-icons-png.flaticon.com/512/5619/5619967.png" />
    Hello World
  </div>

  <button expander-toggle>
    <span expander-on>Close</span>
    <span expander-off>Open</span>
    Expander
  </button>
  This is what we want:
  <ul>
    <li>Ability to present bullets</li>
    <li>Ability to present <a href="www.google.com">Hyperlinks</a></li>
  </ul>
  <app-blank></app-blank>
  <button>Not the expander toggle</button>
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Everest_North_Face_toward_Base_Camp_Tibet_Luca_Galuzzi_2006.jpg"
  />
</app-expander>

<hr>

<app-expander>
  <div expander-title class="title">
    <img src="https://cdn-icons-png.flaticon.com/512/5619/5619967.png" />
    Hello World
  </div>
  This is what we want:
  <ul>
    <li>Ability to present bullets</li>
    <li>Ability to present <a href="www.google.com">Hyperlinks</a></li>
  </ul>
  <app-blank></app-blank>
  <button>Not the expander toggle</button>
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Everest_North_Face_toward_Base_Camp_Tibet_Luca_Galuzzi_2006.jpg"
  />
</app-expander>

<hr>

<app-expander class="fancy">
  <div expander-title class="title">
    <img src="https://cdn-icons-png.flaticon.com/512/5619/5619967.png" />
    Hello World
  </div>
  This is what we want:
  <ul>
    <li>Ability to present bullets</li>
    <li>Ability to present <a href="www.google.com">Hyperlinks</a></li>
  </ul>
  <app-blank></app-blank>
  <button>Not the expander toggle</button>
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Everest_North_Face_toward_Base_Camp_Tibet_Luca_Galuzzi_2006.jpg"
  />
</app-expander>

