<button (click)="showNumbers = !showNumbers">Toggle Numbers</button>

<input #slider type="range" min="1" max="10" (input)="counter = slider.valueAsNumber">
<input #slider2 type="range" min="5" max="15" (input)="firstIndex = slider2.valueAsNumber">


<div *myRepeat="counter startWith firstIndex let i = index; let zugi = even"  [class.div-by-2]="zugi">
  {{i}}. Bla Bla Bla
</div>


<!-- <h1 *ngIf="showNumbers">bla bla bla (*)</h1>

<ng-template [ngIf]="showNumbers">
  <h1 >bla bla bla (*)</h1>
</ng-template>

<ng-template [myIf]="showNumbers">
  <h1>Bla Bla Bla (2)</h1>
</ng-template>

<h1 *myIf="showNumbers">Bla Bla Bla (2)</h1> -->


<!-- <div *ngFor="let item of numbers; let i = index">
  {{i}}. {{item}}
</div>

<ng-template ngFor let-item [ngForOf]="numbers" let-i="index">
  <div>
    {{i}}. {{item}}
  </div>  
</ng-template> -->



<!-- 


<ng-template #myTemplate let-color="tseva" let-line="kav" let-myNumber>
  <h1 [style.color]="color">Hello World</h1>
  <h2 [style.background]="color">How are you?</h2>
  <h3 [style.text-decoration]="line + ' underline'">My color is: {{color}}</h3>
  <h3>The number is {{myNumber}}</h3>
</ng-template>

<ng-container *ngTemplateOutlet="myTemplate; context: {tseva: 'red', kav: 'yellow', $implicit: 42}">
</ng-container>

<hr>

<ng-container *ngTemplateOutlet="myTemplate; context: {tseva: 'green', kav: 'magenta', $implicit: 50}">
</ng-container>

<hr>

<ng-container *ngTemplateOutlet="myTemplate; context: {tseva: 'blue', kav: 'orange', $implicit: 100}">
</ng-container>


 -->
